black==23.10.0
isort==5.12.0
ruff==0.1.1
mypy==1.6.1
flake8==6.1.0
flake8-json==23.7.0
flake8-adjustable-complexity==0.0.6
flake8-annotations-coverage==0.0.6
flake8-annotations==3.0.1
flake8-builtins==2.1.0
flake8-cognitive-complexity==0.1.0
# flake8-commas==2.1.0
flake8-comprehensions==3.14.0
flake8-eradicate==1.5.0
flake8-expression-complexity==0.0.11
flake8-functions==0.0.8
flake8-simplify==0.21.0
flake8-scream==0.1.0
git+https://github.com/i02sopop/flake8-global-variables
pep8-naming==0.13.3
flake8-bugbear==23.9.16
flake8-pie==0.16.0
flake8-print==5.0.0
flake8-use-pathlib==0.3.0
git+https://github.com/c0ntribut0r/flake8-grug

pylint==3.0.1
flake8-pylint==0.2.1